<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 定义放置文章标题的div容器 -->
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">经销宝</h1>
    <p class="lead">这是一个商品销售平台，主要记录商品的销售信息...</p>
    <hr class="my-4">
    <p>操作简单，可以进行数据统计，简单报表等操作...</p>
    <p>如有问题请发邮箱: xiaohui920@sina.cn</p>
  </div>
</div>
{% endblock content %}
